html, body {
    background-color: #fff;
    margin: 10px;
}

.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    border: 5px solid white;
}

.container > div:nth-child(1n) {
    background-color: grey;	
}

.container > div:nth-child(3n) {
    background-color: rgb(77, 77, 77);
}

.container > div:nth-child(2n) {
    background-color: rgb(172, 170, 170);
}

.container > div:nth-child(4n) {
    background-color: grey;
}

.container > div:nth-child(5n) {
    background-color: rgb(77, 77, 77);
}